<%- include('../partials/_navbar.ejs') %>

<h1><%= recipe.name %></h1>
<p><%= recipe.instructions %></p>

<h2>Ingredients</h2>
<ul>
  <% recipe.ingredients.forEach(ingredient => { %>
    <li><%= ingredient.name %></li>
  <% }) %>
</ul>

<a href="/recipes/<%= recipe._id %>/edit">Edit</a>
<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
